.top-card{
    width: 250px;
    height: 60vh !important;
    overflow: hidden;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.top-card-content{
    position: absolute;
    bottom: 0;
    height: 120px;
    width: 100%;
    color: white;
    padding: 5%;
    background-color: rgba(0, 0, 0, .4);
    border-top-left-radius: 20px;
    border-top-right-radius: 40px;
}
.top-card-continent{
    text-transform: uppercase;
}
.regular-card{
    border: none !important;
    box-shadow: none !important;
}
.regular-card-content{
    padding-left: 0 !important;
}
.regular-card-location-text{
    margin-top: 3% !important;
}
.regular-card-btn{
    width: 130px;
    font-size: 12px;
    text-transform: uppercase;
    margin: 0;
    margin-top: 5%;
    border-radius: 10px;
}
.location-detail-card{
    margin-top: -3.1%;
    margin-left: -5.3% !important;
    width: 100vw;
    height: 60vh !important;
    overflow: hidden;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
.location-detail-card-inner{
    margin-top: 5% !important;
    font-size: 35px;
}
.location-detail-card-inner h4{
    font-size: 18px;
}
@media screen and (max-width: 760px){
    .top-card{
        width: 250px;
    }
    .regular-card-location-text{
        font-size: 14px !important;
    }
    .regular-card-btn{
        width: 110px;
        font-size: 10px;
        text-transform: uppercase;
        margin: 0;
        margin-top: 5%;
        border-radius: 10px;
    }
}
