
.space{
    margin-top: 4%;
}
.explore-header{
    padding-top: 5%;
    padding-bottom: 2%;
    text-transform: uppercase;
}
.home-top-cards-headline{
    margin-top: 5%;
    color: gray;
    margin-bottom: 2%;
}
.home-top-cards-headline span{
    color: black;
    font-weight: bold;
}
.horizontal-scrollable-cards{
    overflow-x: scroll;
    display: flex;
}
.top-card-grid{
    width: 100%;
    flex-wrap: nowrap !important;
    overflow-x: scroll;
    scrollbar-width: none;
}

.top-card-grid::-webkit-scrollbar {
    width: 0;
    height: 0;
}
.top-locations-section{
    margin-left: 10%;
    margin-right: 10%;
}
.mobile-topo-cards-container{
    display: none;
}

@media screen and (max-width: 760px){
    .top-locations-section{
        margin-top: 15%;
        margin-left: 5%;
        margin-right: 5%;
    }
    .top-cards-container{
        display: none !important;
    }
    .mobile-topo-cards-container{
        display: block;
    }
} 