nav{
  display: flex;
  height: 60px;
  background-color: #FCFCFC;
  font-size: 20px;
}
nav ul li{
  list-style-type: none;
  display: inline;
  margin-left: 22%;
}
.logo{
  margin-left: 10%;
  transform: translateY(40%);
  font-weight: bold;
}
nav ul{
  position: absolute;
  right: 25%;
}