:root{
    --main-light-grey:  #F1F1F1;
    --main-orange: #FF4500;
}

body{
    font-family: 'Montserrat', sans-serif;
}
.full-app-wrap{
    margin-top: 3%;
    margin-left: 10%;
}

@media screen and (max-width: 760px){
    .full-app-wrap{
        margin-top: 10%;
        margin-left: 5%;
    }
}